@page "/file/baocao"
@using UehInternFrontend.Components

<PageTitle>Báo cáo</PageTitle>

<CheckUserComponent CheckRole="sinhvien">
    <ItemContent>

        <h1>
            Nút nộp báo cáo cuối kì, span tên file báo cáo, nút tải báo cáo, 
            nút xóa file báo cáo thì mới được thêm cái khác
        </h1>

    </ItemContent>
</CheckUserComponent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
