@page "/thongtin"
@using UehInternFrontend.Components

<PageTitle>Thông Tin</PageTitle>

<CheckUserComponent CheckRole="sinhvien">
<ItemContent>

    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="inline-flex items-center justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Giảng viên hướng dẫn
            <span class="inline-flex justify-center items-center bg-yellow-100 text-orange-700 text-sm font-medium ml-5 px-4 py-1 rounded-full">
                Đăng ký sớm
            </span>
            <span class="inline-flex justify-center items-center bg-green-100 text-teal-800 text-sm font-medium ml-5 px-4 py-1 rounded-full">
                Chính thức
            </span>
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            Đặng Ngọc Hoàng Thành
        </p>
    </div>

    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Loại hình
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            Thực tập tốt nghiệp
        </p>
    </div>

    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="inline-flex items-center justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Đề tài đã đăng ký
            <span class="inline-flex justify-center items-center bg-green-100 text-teal-800 text-sm font-medium ml-5 px-4 py-1 rounded-full">
                Đã duyệt
            </span>
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            Xây dựng phần mềm hỗ trợ quản lý thực tập cho trường Đại học UEH.
        </p>
    </div>

    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Tên công ty
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            Facebook Inc
        </p>
    </div>

    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Kết quả thực tập
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            8.0
        </p>
    </div>

</ItemContent>
</CheckUserComponent>
