@page "/thongtin"

@code {
    public string? api;
    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
    }

    private ChitietModel? chitiet = new ChitietModel();
    private KetquaModel? ketqua = new KetquaModel();
    private GiangvienModel? giangvien = new GiangvienModel();
    private GiangvienModel? giangviendk = new GiangvienModel();

    private double sum = 0;
    private string? madot = "";

    private string? mssv = "";
    private string? maloai = "";
    private string? loaihinh = "";
    protected int? DotInfo = -1;

    private User? currentUser;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Service.GetUser(JS, NavigationManager);
            mssv = currentUser.Code;
            maloai = currentUser.MaLoai;
            DotInfo = currentUser.DotInfo;
            madot = currentUser.MaDot;

            StateHasChanged();

            loaihinh = maloai == "HKDN" ? "Học kỳ doanh nghiệp" : "Khoá luận tốt nghiệp";

            if (DotInfo == 2) {
                await RenderDatas();
            }else if(DotInfo ==1)
            {
                await RenderDatas();

            }

            StateHasChanged();
        }
    }

    private async Task RenderDatas()
    {
        chitiet = await GetChitietSinhVien(mssv);
        giangvien = await GetGvHuongDanSv(mssv);
        giangviendk = await GetDangkyGvHuongDanSv(mssv);

        ketqua = await GetKetQuaSinhVien(mssv);
        if (ketqua != null)
        {
            sum = (double)((ketqua.tieuchi1 ?? 0) + (ketqua.tieuchi2 ?? 0) + (ketqua.tieuchi3 ?? 0) + (ketqua.tieuchi4 ?? 0) + (ketqua.tieuchi5 ?? 0) + (ketqua.tieuchi6 ?? 0) + (ketqua.tieuchi7 ?? 0));
            sum = maloai == "HKDN" ? (double)(sum * 0.6 + (ketqua.diemDN ?? 0) * 0.4) : sum;
            sum = sum > 10 ? 10 : sum;
        }

        StateHasChanged();
    }

    private async Task<GiangvienModel> GetGvHuongDanSv(string mssv)
    {
        var response = await Http.GetAsync(api + $"Sinhvien/GetGvHuongDanSv?madot={madot}&mssv={mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<GiangvienModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất thông tin : {response.StatusCode}");
            return null;
        }
    }
    private async Task<GiangvienModel> GetDangkyGvHuongDanSv(string mssv)
    {
        var response = await Http.GetAsync(api + $"Sinhvien/GetDangkyGvHuongDanSv?madot={madot}&mssv={mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<GiangvienModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất thông tin : {response.StatusCode}");
            return null;
        }
    }
    private async Task<ChitietModel> GetChitietSinhVien(string mssv)
    {
        var response = await Http.GetAsync(api + $"Chitiet/getchitiet?mssv={mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<ChitietModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }
    
    private async Task<KetquaModel> GetKetQuaSinhVien(string mssv)
    {
        var response = await Http.GetAsync(api + $"Ketqua/sinhvien?mssv={mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<KetquaModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }

}
<PageTitle>Thông Tin</PageTitle>

<CheckUserComponent CheckRole="student">
<ItemContent>

@if (DotInfo == 2)
{
    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="inline-flex items-center justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Giảng viên hướng dẫn
            <span class="inline-flex justify-center items-center bg-green-100 text-teal-800 text-sm font-medium ml-5 px-4 py-1 rounded-full">
                Chính thức
            </span>
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            @giangvien.tengv
        </p>
    </div>

    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Loại hình
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            @loaihinh
        </p>
    </div>

    @if(maloai != "HKDN")
    {
        <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
            <h5 class="inline-flex items-center justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900">
                Đề tài đã đăng ký
                <span class="inline-flex justify-center items-center bg-green-100 text-teal-800 text-sm font-medium ml-5 px-4 py-1 rounded-full">
                    Đã duyệt
                </span>
            </h5>
            <p class="mb-3 font-normal text-gray-700">
                @chitiet.tendetai
            </p>
        </div>
    } 
    else
    {
        <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                Tên công ty
            </h5>
            <p class="mb-3 font-normal text-gray-700">
                @chitiet.tencty
            </p>
        </div>
    }
    
    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Kết quả thực tập
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            @sum
        </p>
    </div>
}

@if (DotInfo == 1)
{
    <div class="p-6 mb-4 bg-white border border-gray-200 rounded-lg">
        <h5 class="inline-flex items-center justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Giảng viên hướng dẫn
            <span class="inline-flex justify-center items-center bg-yellow-100 text-orange-700 text-sm font-medium ml-5 px-4 py-1 rounded-full">
                Đăng ký sớm
            </span>
        </h5>
        <p class="mb-3 font-normal text-gray-700">
            @(giangviendk?.tengv != null ? giangviendk.tengv : "Chưa có thông tin")
        </p>
    </div>
}

@if (DotInfo == 0)
{
    <Error Type="PeriodNotOpen" />
}

</ItemContent>
</CheckUserComponent>
