@page "/diem/them"
@using UehInternFrontend.Components

<PageTitle>Chấm điểm</PageTitle>

<CheckUserComponent CheckRole="giangvien">
<ItemContent>

    <h1>giao diện chấm điểm: chọn sinh viên, hiển thị sinh viên, chấm điểm, các tiêu chí, nút lưu điểm</h1>

</ItemContent>
</CheckUserComponent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
