@page "/lichsugap/danhsach"
@using UehInternFrontend.Components

<PageTitle>Danh sách lịch sử gặp</PageTitle>

<CheckUserComponent CheckRole="giangvien">
<ItemContent>

    <h1>Chọn từng sinh viên theo kiểu search payment, xem lịch sử gặp</h1>

</ItemContent>
</CheckUserComponent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
