@page "/lichsugap/them/{idSv}"
@using UehInternFrontend.Components
@inject IJSRuntime JS
@inject HttpClient Http
@inject IConfiguration Configuration
@using Newtonsoft.Json
@using System.Globalization

@inject  NavigationManager NavigationManager

@code {
    [Parameter] public string idSv { get; set; }


    private SinhvienModel? sinhvien = new SinhvienModel();
    private string ngayBanDau = DateTime.Today.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture);
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        lichsu.ngay = ngayBanDau;
        if (firstRender) {
            await RenderDatas();
            StateHasChanged();
        }
        await JS.InvokeVoidAsync("datePicker");
    }

    private async Task RenderDatas()
    {
        SinhvienModel result = await GetSinhVien(idSv);
        if (result != null)
        {
            sinhvien = result;
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Sinh viên not found.");
        }
    }

    private async Task<SinhvienModel> GetSinhVien(string mssv)
    {
        var response = await Http.GetAsync($"https://localhost:7000/api/Sinhvien/{mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<SinhvienModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }
    private LichsuModel lichsu = new LichsuModel();
    private async Task SubmitLichSu(string mssv)
    {
        var url = $"https://localhost:7000/api/Lichsu?mssv={mssv}";
        var response = await Http.PostAsJsonAsync(url, lichsu);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true); 


        }
        else
        {
            Console.WriteLine("Đã xảy ra lỗi khi gửi !");
        }
    }

  



}

<PageTitle>Thêm lịch sử gặp</PageTitle>

<CheckUserComponent CheckRole="giangvien">
<ItemContent>

    <div class="p-4 mb-32 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">
        <h3 class="mb-4 text-xl font-semibold">Thêm lịch sử gặp</h3>
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
                    Tên sinh viên
                </label>
                <input type="text" readonly name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" required value="@sinhvien.ho @sinhvien.ten">
            </div>

            <div class="col-span-6 sm:col-span-3">
                <div class="date-picker relative w-full h-full select-none">
                    <label for="date" class="block mb-2 text-sm font-medium text-gray-900">
                        Ngày
                    </label>

                    <input type="text"  id="date" name="date"
                        class="selected-date shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4"
                        placeholder="Select date"  @bind="ngayBanDau" >

                    <div class="dates rounded-lg bg-white shadow-lg p-3 absolute top-full left-0 right-0 bg-white hidden">
                        <div class="month flex justify-between items-center mb-3">
                            <div
                                class="arrows prev-mth rounded-md w-9 h-9 flex justify-center items-center text-gray-800 text-lg hover:bg-gray-100">
                                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="mth text-sm"></div>
                            <div
                                class="arrows next-mth rounded-md w-9 h-9 flex justify-center items-center text-gray-800 text-lg hover:bg-gray-100">
                                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                        </div>

                        <div class="days grid grid-cols-7 h-48"></div>
                    </div>
                </div>

            </div>

            <div class="col-span-full">
                <label for="content" class="block mb-2 text-sm font-medium text-gray-900">
                    Nội dung
                </label>
                <input type="text" @bind ="@lichsu.noidung" name="content" id="content" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" required>
            </div>

            <div class="col-span-6 sm:col-full">
                <button  @onclick="() => SubmitLichSu(idSv)" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">
                    Tạo lịch sử 
                </button>
            </div>
        </div>
    </div>

</ItemContent>
</CheckUserComponent>


