@page "/bangdiem"
@using System.IO

@code {
    public string? api;
    private string makhoa ="";
    private string madot = "";
    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
    }

    private User? currentUser;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Service.GetUser(JS, NavigationManager);
            madot = currentUser.MaDot;
            makhoa = currentUser.MaKhoa;
            StateHasChanged();
        }
    }

    private async Task DownloadExcelFile(string madot,string makhoa)
    {
        var response = await Http.GetAsync(api + $"Ketqua/ExportToExcelByKhoa?madot={madot}&makhoa={makhoa}");
        if (response.IsSuccessStatusCode)
        {
            var fileName = response.Content.Headers.ContentDisposition.FileName;
            var contentType = response.Content.Headers.ContentType.MediaType;
            var content = await response.Content.ReadAsByteArrayAsync();

            await JS.InvokeVoidAsync("downloadFileExcel", fileName, content, contentType);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Không tìm thấy tệp tin.");
        }
    }
}

<PageTitle>Bảng điểm tổng hợp</PageTitle>

<CheckUserComponent CheckRole="admin">
<ItemContent>

<div class="p-6 bg-white border border-gray-200 rounded-lg">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        Xuất bảng điểm
    </h5>
    <p class="mb-3 font-normal text-gray-700">
        Bảng điểm tổng hợp của toàn bộ khoa sẽ được xuất file excel.
    </p>
    <button  @onclick="@(async () => await DownloadExcelFile(madot,makhoa))"
        type="button" class="inline-flex items-center text-teal-700 hover:text-white border border-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
        Xuất bảng điểm
        <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
</div>


</ItemContent>
</CheckUserComponent>

