@page "/giangvien/them"
@using UehInternFrontend.Components

<PageTitle>Thêm giảng viên</PageTitle>

<CheckUserComponent CheckRole="admin">
<ItemContent>

    <h1>các input để thêm giảng viên, nút import giảng viên</h1>

</ItemContent>
</CheckUserComponent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
