@page "/giangvien/them"
@using UehInternFrontend.Components
@inject IJSRuntime JS
@inject HttpClient Http
@inject IConfiguration Configuration
@inject  NavigationManager navigationManager
@using Newtonsoft.Json

@code {
    private int currentCount = 0;
    private string makhoa ="CNTTKD";
    private void IncrementCount()
    {
        currentCount++;
    }

    private GiangvienRequest giangvien = new GiangvienRequest();
    private async Task SubmitGiangvien(string makhoa)
    {
        var url = $"https://localhost:7000/api/Giangvien?makhoa={Uri.EscapeDataString(makhoa)}";
        var response = await Http.PostAsJsonAsync(url, giangvien);

        if (response.IsSuccessStatusCode)
        {
             navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);


        }
        else
        {
            Console.WriteLine("Đã xảy ra lỗi khi gửi điểm!");
        }
    }



}

<PageTitle>Thêm giảng viên</PageTitle>

<CheckUserComponent CheckRole="admin">
<ItemContent>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">
        <h3 class="mb-4 text-xl font-semibold">Thêm giảng viên</h3>
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="magv" class="block mb-2 text-sm font-medium text-gray-900">
                        Mã giảng viên
                    </label>
                    <input type="text"  @bind="@giangvien.magv" name="magv" id="magv" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" required>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
                        Tên
                    </label>
                    <input type="text" @bind="@giangvien.tengv" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" required>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                        Email
                    </label>
                    <input type="email"  @bind="@giangvien.email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" required>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">
                        Số điện thoại
                    </label>
                    <input type="text"  @bind="@giangvien.sdt" name="phone" id="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" required>
                </div>

                <div class="col-span-6 sm:col-full">
                    <button @onclick="() => SubmitGiangvien(makhoa)" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">
                        Thêm giảng viên
                    </button>
                </div>
            </div>
    </div>

</ItemContent>
</CheckUserComponent>

