@page "/phancong/chamcheo"
@using UehInternFrontend.Components

<PageTitle>Phân công chấm chéo</PageTitle>

<CheckUserComponent CheckRole="admin">
<ItemContent>

    <h1>Nút import, bảng các giáo viên chấm chéo với nhau</h1>

</ItemContent>
</CheckUserComponent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
