@page "/tongquan"
@using UehInternFrontend.Components
@using System.Net.Http.Headers
@using Newtonsoft.Json

@inject IJSRuntime JS
@inject HttpClient Http
@inject IConfiguration Configuration
@code {
    private int sumsv = 0;
    private int sumgv = 0;
    private int sumcn = 0;

    public string? api;
    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
    }

    protected override async Task OnInitializedAsync()
    {
        await RenderDatas();
    }

    private async Task RenderDatas()
    {
        List<SinhvienkhoaModel> sinhvienkhoas = await GetSinhvienByKhoas("CNTTKD");
        List<GiangvienkhoaModel> giangviens   = await GetGiangvienByKhoas("CNTTKD");
        List<ChuyennganhModel> chuyennganhs   = await GetChuyennganhsByKhoa("CNTTKD");

        if (sinhvienkhoas != null )
        {
            sumsv += sinhvienkhoas.Count;
            sumgv += giangviens.Count;
            sumcn += chuyennganhs.Count;
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Sinh viên not found.");
        }
    }
    private async Task<List<SinhvienkhoaModel>> GetSinhvienByKhoas(string makhoa)
    {
        var response = await Http.GetAsync(api + $"Khoa/sinhviens/{makhoa}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<List<SinhvienkhoaModel>>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất sinh viên: {response.StatusCode}");
            return null;
        }
    }

    private async Task<List<GiangvienkhoaModel>> GetGiangvienByKhoas(string makhoa)
    {
        var response = await Http.GetAsync(api + $"Khoa/giangviens/{makhoa}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<List<GiangvienkhoaModel>>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất sinh viên: {response.StatusCode}");
            return null;
        }
    }

    private async Task<List<ChuyennganhModel>> GetChuyennganhsByKhoa(string makhoa)
    {
        var response = await Http.GetAsync(api + $"Chuyennganh/GetChuyennganhsByKhoa/{makhoa}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<List<ChuyennganhModel>>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất khoa: {response.StatusCode}");
            return null;
        }
    }
    
}

<PageTitle>Tổng quan</PageTitle>

<CheckUserComponent CheckRole="admin">
<ItemContent>

<div class="grid grid-cols-1 mb-5 xl:grid-cols-2 xl:gap-4">

    <!-- Activity Card -->
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm  sm:p-6  xl:mb-0">
        <div class="flex items-center justify-between mb-4">
            <h3 class="text-lg font-semibold text-gray-900">Đợt tháng 8/2023</h3>
            <a href="dot" class="inline-flex items-center p-2 text-sm font-semibold rounded-lg text-teal-800 hover:bg-gray-100">
                Chi tiết
            </a>

        </div>
        <ol class="relative border-l border-gray-200">                  
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-teal-800 font-semibold">Tháng 11 2023</time>
                <h3 class="text-lg font-semibold text-gray-900">Kết thúc đợt thực tập</h3>
                <p class="mb-4 text-base font-normal text-gray-500">Chấm điểm, xuất các báo cáo cần thiết và kết thúc đợt thực tập tháng 8/2023.</p>
            </li>
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-teal-800 font-semibold">Tháng 8 2023</time>
                <h3 class="text-lg font-semibold text-gray-900">Chốt danh sách thực tập chính thức</h3>
                <p class="mb-4 text-base font-normal text-gray-500">Danh sách thực tập chính thức được đưa ra và thực hiện theo các phân công.</p>
            </li>
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-teal-800 font-semibold">Tháng 6 2023</time>
                <h3 class="text-lg font-semibold text-gray-900">Mở đợt thực tập</h3>
                <p class="text-base font-normal text-gray-500">Bắt đầu đợt thực tập doanh nghiệp và khóa luận tốt nghiệp.</p>
            </li>
        </ol>
    </div>

    <div>
        <a href="giangvien/danhsach" 
            class="items-center justify-between mb-3 px-4 py-8 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex">
            <div class="w-full">
                <h3 class="text-base font-normal text-gray-500">Giảng viên</h3>
                <span class="text-2xl font-bold leading-none text-teal-800 sm:text-3xl">@sumgv</span>
            </div>
        </a>

        <a href="sinhvien/danhsach" 
            class="items-center justify-between mb-3 px-4 py-8 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex">
            <div class="w-full">
                <h3 class="text-base font-normal text-gray-500">Sinh viên</h3>
                <span class="text-2xl font-bold leading-none text-teal-800 sm:text-3xl">@sumsv</span>
            </div>
        </a>

        <a href="chuyennganh" 
            class="items-center justify-between mb-3 px-4 py-8 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex">
            <div class="w-full">
                <h3 class="text-base font-normal text-gray-500">Chuyên ngành</h3>
                <span class="text-2xl font-bold leading-none text-teal-800 sm:text-3xl">@sumcn</span>
            </div>
        </a>
    </div>

</div>

</ItemContent>
</CheckUserComponent>

