@inject IJSRuntime JS
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager

@if (role == "load"){      }
else if (role == "null"){
    NavigationManager.NavigateTo("/loginsessionexpired");
}
else if (role != CheckRole){
    <Error Type="NoRole" />
}    
else {
    @* <h1>@role Page</h1> *@
    @ItemContent
}

@code {
    [CascadingParameter]
    public string? role { get; set; }

    [Parameter]
    public string? CheckRole { get; set; }

    [Parameter]
    public RenderFragment ItemContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("loadScript", "/js/tailwindcss.js");

        // Check thiết bị người dùng
        string userAgent = HttpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString();
        int deviceWidth = await JS.InvokeAsync<int>("getDeviceWidth");

        if (IsMobileDevice(userAgent) && deviceWidth < 720)
        {
            @* await JS.InvokeVoidAsync("console.log", userAgent); *@
            NavigationManager.NavigateTo("/mobiledevice");
        }

        if (firstRender)
        {
        }
    }

    private bool IsMobileDevice(string userAgent)
    {
        return userAgent.Contains("iPhone", StringComparison.OrdinalIgnoreCase) ||
                userAgent.Contains("iPod", StringComparison.OrdinalIgnoreCase) ||
                (userAgent.Contains("Android", StringComparison.OrdinalIgnoreCase) && userAgent.Contains("Mobile", StringComparison.OrdinalIgnoreCase)) ||
                userAgent.Contains("BlackBerry", StringComparison.OrdinalIgnoreCase) ||
                userAgent.Contains("Windows Phone", StringComparison.OrdinalIgnoreCase);
    }


}