@page "/demo"
@using UehInternFrontend.Components

<PageTitle>Demo Page</PageTitle>

<CheckUserComponent CheckRole="admin">
    <ItemContent>
        <h1>Demo</h1>
        <p role="status">Current count: @currentCount</p>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    </ItemContent>
</CheckUserComponent>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
