@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>UEH Intern</PageTitle>

<div class="main">
    <div class="content">
        <CascadingValue Value="@role">
            @Body
        </CascadingValue>
    </div>
</div>

@code {
    private string? role = "load";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            role = await JSRuntime.InvokeAsync<string>("getUserData", "Role");
            StateHasChanged();
        }
    }

}