@inherits LayoutComponentBase
@inject IJSRuntime JS
@using UehInternFrontend
@using Newtonsoft.Json

<PageTitle>UEH Intern</PageTitle>

<div class="main">
    <div class="content">
        <CascadingValue Value="@Code" Name="Code">
            <CascadingValue Value="@Name" Name="Name">
                <CascadingValue Value="@Email" Name="Email">
                    <CascadingValue Value="@Role" Name="Role">
                        @Body
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>        
    </div>
</div>

@code {
    private string? Code = "";
    private string? Name = "";
    private string? Email = "";
    private string? Role = "load";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string token = await JS.InvokeAsync<string>("userInfo");
            string json = AES.DecryptData(token);

            if (!string.IsNullOrEmpty(json))
            {
                User? user = JsonConvert.DeserializeObject<User>(json);
                Code = user.Code;
                Name = user.Name;
                Email = user.Email;
                Role = user.Role;
                StateHasChanged();
            } else 
            {
                Role = "";
                StateHasChanged();
            }
        }
    }
}