@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using UehInternFrontend
@using Newtonsoft.Json

@code {
    protected int? DotInfo = -1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetData();
            await JS.InvokeVoidAsync("executeScript");
        }
    }

    private async Task GetData()
    {
        string token = await JS.InvokeAsync<string>("userInfo");
        string json = AES.DecryptData(token);

        if (!string.IsNullOrEmpty(json))
        {
            User? user = JsonConvert.DeserializeObject<User>(json);
            DotInfo = user.DotInfo;
            StateHasChanged();
        }
        else 
        {
            // Chưa có cookie đăng nhập
            NavigationManager.NavigateTo("/loginsessionexpired");
        }
    }
}

<div class="h-full px-3 py-3 overflow-y-auto">
    <ul class="space-y-2 font-medium">
        @* Info *@
        <li>
            <div class="lg:hidden">
                <div class="relative">
                    <div class="flex items-center justify-center bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                        <span>Admin</span>
                    </div>
                </div>
            </div>
        </li>

        @if (DotInfo >= 0)
        {
            @* Tổng quan *@
            <li>
                <NavLink href="/tongquan"
                    class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                    </svg>
                    <span class="ml-3">Tổng quan</span>
                </NavLink>
            </li>
        }

        @if (DotInfo >= 1)
        {
            @* Giảng viên *@
            <li>
                <NavLink href="/giangvien/danhsach"
                    class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="ml-3">Giảng viên</span>
                </NavLink>
            </li>
        }

        @if (DotInfo >= 1)
        {
            @* Phân công *@
            <li>
                <button type="button"
                    class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100"
                    aria-controls="dropdown-sv" data-collapse-toggle="dropdown-sv">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                        </path>
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>
                        Phân công
                    </span>
                    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                <ul id="dropdown-sv" class="hidden py-2 space-y-2">
                    <li>
                        <NavLink href="phancong/dangkysom"
                            class="nav-link flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">
                            Đăng ký sớm
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="phancong/gvhdsv"
                            class="nav-link flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">
                            GVHD - SV
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="phancong/chamcheo"
                            class="nav-link flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">
                            Chấm chéo
                        </NavLink>
                    </li>
                </ul>
            </li>
        }

        @if (DotInfo >= 1)
        {
            @* Chuyên ngành *@
            <li>
                <NavLink href="chuyennganh" class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="-2 -2 28 28" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_iconCarrier">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="ic_fluent_class_24_filled" fill="currentColor" fill-rule="nonzero">
                                    <path
                                        d="M17.25,2.00051727 C18.7687831,2.00051727 20,3.2317342 20,4.75051727 L20,19.2487649 C20,20.767548 18.7687831,21.9987649 17.25,21.9987649 L6.74990198,21.9987649 C5.23111892,21.9987649 3.99990198,20.767548 3.99990198,19.2487649 L3.99990198,4.75051727 C3.99990198,3.2317342 5.23111892,2.00051727 6.74990198,2.00051727 L7.04132159,2 L7.04132159,10.1671486 C7.04132159,10.9151997 7.83169503,11.1811926 8.35990618,10.9064659 L8.45018427,10.8523597 L10.5431597,9.65511263 L12.6836301,10.8844881 C13.129045,11.192691 13.9441479,10.9853672 14.0333402,10.2941456 L14.0413216,10.1671486 L14.0413216,2 L17.25,2.00051727 Z M12.5413216,2 L12.5413216,9.07569648 L10.9197216,8.14379282 C10.6929803,8.03527051 10.3846103,8.03773853 10.1269219,8.16631351 L10.0199727,8.22918197 L8.54132159,9.07501642 L8.54132159,2 L12.5413216,2 Z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Chuyên ngành</span>
                </NavLink>
            </li>
        }

        @if (DotInfo >= 0)
        {
            @* Đợt *@
            <li>
                <NavLink href="dot" class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M16.7502 3.56V2C16.7502 1.59 16.4102 1.25 16.0002 1.25C15.5902 1.25 15.2502 1.59 15.2502 2V3.5H8.75023V2C8.75023 1.59 8.41023 1.25 8.00023 1.25C7.59023 1.25 7.25023 1.59 7.25023 2V3.56C4.55023 3.81 3.24023 5.42 3.04023 7.81C3.02023 8.1 3.26023 8.34 3.54023 8.34H20.4602C20.7502 8.34 20.9902 8.09 20.9602 7.81C20.7602 5.42 19.4502 3.81 16.7502 3.56Z"
                                fill="currentColor"></path>
                            <path
                                d="M20 9.83984H4C3.45 9.83984 3 10.2898 3 10.8398V16.9998C3 19.9998 4.5 21.9998 8 21.9998H16C19.5 21.9998 21 19.9998 21 16.9998V10.8398C21 10.2898 20.55 9.83984 20 9.83984ZM9.21 18.2098C9.11 18.2998 9 18.3698 8.88 18.4198C8.76 18.4698 8.63 18.4998 8.5 18.4998C8.37 18.4998 8.24 18.4698 8.12 18.4198C8 18.3698 7.89 18.2998 7.79 18.2098C7.61 18.0198 7.5 17.7598 7.5 17.4998C7.5 17.2398 7.61 16.9798 7.79 16.7898C7.89 16.6998 8 16.6298 8.12 16.5798C8.36 16.4798 8.64 16.4798 8.88 16.5798C9 16.6298 9.11 16.6998 9.21 16.7898C9.39 16.9798 9.5 17.2398 9.5 17.4998C9.5 17.7598 9.39 18.0198 9.21 18.2098ZM9.42 14.3798C9.37 14.4998 9.3 14.6098 9.21 14.7098C9.11 14.7998 9 14.8698 8.88 14.9198C8.76 14.9698 8.63 14.9998 8.5 14.9998C8.37 14.9998 8.24 14.9698 8.12 14.9198C8 14.8698 7.89 14.7998 7.79 14.7098C7.7 14.6098 7.63 14.4998 7.58 14.3798C7.53 14.2598 7.5 14.1298 7.5 13.9998C7.5 13.8698 7.53 13.7398 7.58 13.6198C7.63 13.4998 7.7 13.3898 7.79 13.2898C7.89 13.1998 8 13.1298 8.12 13.0798C8.36 12.9798 8.64 12.9798 8.88 13.0798C9 13.1298 9.11 13.1998 9.21 13.2898C9.3 13.3898 9.37 13.4998 9.42 13.6198C9.47 13.7398 9.5 13.8698 9.5 13.9998C9.5 14.1298 9.47 14.2598 9.42 14.3798ZM12.71 14.7098C12.61 14.7998 12.5 14.8698 12.38 14.9198C12.26 14.9698 12.13 14.9998 12 14.9998C11.87 14.9998 11.74 14.9698 11.62 14.9198C11.5 14.8698 11.39 14.7998 11.29 14.7098C11.11 14.5198 11 14.2598 11 13.9998C11 13.7398 11.11 13.4798 11.29 13.2898C11.39 13.1998 11.5 13.1298 11.62 13.0798C11.86 12.9698 12.14 12.9698 12.38 13.0798C12.5 13.1298 12.61 13.1998 12.71 13.2898C12.89 13.4798 13 13.7398 13 13.9998C13 14.2598 12.89 14.5198 12.71 14.7098Z"
                                fill="currentColor"></path>
                        </g>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Đợt</span>
                </NavLink>
            </li>
        }

        @if (DotInfo >= 1)
        {
            @* Sinh viên *@
            <li>
                <NavLink href="sinhvien/danhsach" class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sinh viên</span>
                </NavLink>
            </li>
        }

        @if (DotInfo >= 2)
        {
            @* Bảng điểm *@
            <li>
                <NavLink href="bangdiem" class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                    <svg aria-hidden="true"
                        class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z">
                        </path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Xuất bảng điểm</span>
                </NavLink>
            </li>
        }
    </ul>

    <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
        <li>
            <NavLink href="trogiup/admin" class="nav-link flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path
                            d="M19.5816 18.5209C21.0889 16.7701 22 14.4915 22 12C22 9.50853 21.0889 7.22987 19.5816 5.47906L15.3089 9.75178C15.745 10.3925 16 11.1665 16 12C16 12.8335 15.745 13.6075 15.3089 14.2482L19.5816 18.5209Z"
                            fill="currentColor"></path>
                        <path
                            d="M18.5209 19.5816C16.7701 21.0889 14.4915 22 12 22C9.50853 22 7.22987 21.0889 5.47906 19.5816L9.75178 15.3089C10.3925 15.745 11.1665 16 12 16C12.8335 16 13.6075 15.745 14.2482 15.3089L18.5209 19.5816Z"
                            fill="currentColor"></path>
                        <path
                            d="M4.4184 18.5209L8.69112 14.2482C8.25495 13.6075 8 12.8335 8 12C8 11.1665 8.25495 10.3925 8.69112 9.75178L4.4184 5.47906C2.91114 7.22987 2 9.50853 2 12C2 14.4915 2.91114 16.7701 4.4184 18.5209Z"
                            fill="currentColor"></path>
                        <path
                            d="M12 8C11.1665 8 10.3925 8.25495 9.75178 8.69112L5.47906 4.4184C7.22987 2.91114 9.50853 2 12 2C14.4915 2 16.7701 2.91114 18.5209 4.4184L14.2482 8.69112C13.6075 8.25495 12.8335 8 12 8Z"
                            fill="currentColor"></path>
                    </g>
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Trợ giúp</span>
            </NavLink>
        </li>
    </ul>
</div>
